@{
    ViewBag.Title = "RFIDDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Report</h2>
        </div>
        @using (Html.BeginForm())
        {
            <div class="row clearfix">
                <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>Actual Truck Report
                            </h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="form-line">
                                          
                                            <label>Truck Number <span style="color: red">*</span></label><br />
                                           @Html.DropDownList("truckNumber", (SelectList)ViewBag.truckList,"All",new { @class = "form-control" })

                                        </div>

                                    </div>

                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <label>From Date<span style="color: red"></span></label>
                                            @Html.TextBox("fromdate","", new { @class = "form-control datepicker", placeholder = "Date",@required="required" })

                                        </div>

                                    </div>

                                </div>


                                          <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <label>To Date<span style="color: red"></span></label>
                                            @Html.TextBox("todate","", new { @class = "form-control datepicker", placeholder = "Date",@required="required" })

                                        </div>

                                    </div>

                                </div>

                                 <div class="col-sm-3">
                                     <br />
                                    <input type="submit" value="Show Report" class="btn btn-primary btn-lg m-l-15 waves-effect" />


                                </div>


                            </div>
                        </div>
                      

                    </div>
                </div>
            </div>
        }
    </div>
</section>
<script src="~/Scripts/jquery-1.12.3.min.js"></script>
<script src="~/Content/Theams/plugins/jquery-datatable/jquery.dataTables.js"></script>
<link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Content/Theams/js/pages/forms/basic-form-elements.js"></script>
<script type="text/javascript">
    if ('@ViewBag.alert' != '') {

        alert('@ViewBag.alert');
    }

  
    if ('@ViewBag.msg' != '') {

        alert('@ViewBag.msg');
     }

</script>
<style type="text/css">
    .dropdown-toggle {
        display: none;
    }
</style>

