@model weighingControlSystem.Models.DAL.tbl_operatorshift

@{
    ViewBag.Title = "truckMapping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Shift</h2>
        </div>
        @using (Html.BeginForm())
        {
            <div class="row clearfix">
                <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>New Shift
                            </h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.HiddenFor(x => x.pkid)
                                            <label>Shift Name <span style="color: red">*</span></label>
                                            @Html.TextBoxFor(x => x.shiftname, new { @class = "form-control", placeholder = "Shift Name", @required = "required" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <label>Start Time<span style="color: red">*</span></label>
                                            @Html.TextBoxFor(x => x.shiftstsrtTime, new { @class = "form-control timepicker", placeholder = "Start Time ", @required = "required" })

                                        </div>

                                    </div>

                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <label>End Time<span style="color: red">*</span></label>
                                            @Html.TextBoxFor(x => x.shiftEndTime, new { @class = "form-control timepicker", placeholder = "End Time", @required = "required" })

                                        </div>

                                    </div>

                                </div>

                                <div class="col-sm-3">
                                    <br />
                                    <input type="submit" value="Save" class="btn btn-primary btn-lg m-l-15 waves-effect" />
                                </div>


                            </div>
                        </div>
                        <div class="card">
                            <div class="header">
                                <h2>Shift List
                                </h2>
                            </div>
                            <div class="body">

                                <div class="row clearfix">
                                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable " style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Shift Name</th>
                                                <th>Start Time</th>
                                                <th>End Time</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</section>
<script src="~/Scripts/jquery-1.12.3.min.js"></script>
<script src="~/Content/Theams/plugins/jquery-datatable/jquery.dataTables.js"></script>
<link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
<script src="~/Content/Theams/js/pages/forms/basic-form-elements.js"></script>
<script type="text/javascript">
    if ('@ViewBag.alert' != '') {
        alert('@ViewBag.alert');
    }

    $('.js-basic-example').DataTable({
        "processing": true, // for show progress bar
        "serverSide": true, // for process server side
        "filter": true, // this is for disable filter (search box)
        "orderMulti": false, // for disable multiple column at once
        "ajax": {
            "url": "/mapping/shiftList",
            "type": "POST",
            "datatype": "json"
        },
        "columns": [
                { "data": "pkid", "name": "pkid", "orderable": false, "autoWidth": true },
                { "data": "shiftname", "name": "shiftname", "orderable": false, "autoWidth": true },
                { "data": "shiftstsrtTime", "name": "shiftstsrtTime", "orderable": false, "autoWidth": true },
                { "data": "shiftEndTime", "name": "shiftEndTime", "orderable": false, "autoWidth": true },
         {
             "data": "pkid", "orderable": false, "render": function (data, type, full, meta) {
                 return '<a href=/mapping/operatorShift?_id=' + data + '>Edit</a>';
             }
         }

        ],
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $("td:first", nRow).html(iDisplayIndex + 1);
            return nRow;
        }
    })


</script>
<style type="text/css">
    .dropdown-toggle {
        display: none;
    }
</style>
