@model weighingControlSystem.Models.DAL.tbl_truckMapping

@{
    ViewBag.Title = "truckMapping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Mapping</h2>
        </div>
        @using (Html.BeginForm())
        {
            <div class="row clearfix">
                <div class="col-sm-12 col-lg-12 col-md-12 col-xs-12">
                    <div class="card">
                        <div class="header">
                            <h2>Truck With RFID
                            </h2>
                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.HiddenFor(x => x.pkid)
                                            <label>Truck No <span style="color: red">*</span></label>
                                            @Html.DropDownListFor(x => x.truckFKId,(SelectList)@ViewBag.trucklist,"-------select Truck No-------",new { @class = "form-control", @required = "required" })

                                        </div>

                                    </div>

                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <label>REFID (For Truck only)<span style="color: red">*</span></label>
                                          @Html.DropDownListFor(x => x.rfif_fkId,(SelectList)@ViewBag.RFIDList,"-------select RFID-------",new { @class = "form-control", @required = "required" })

                                        </div>

                                    </div>

                                </div>

                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <label>Comments</label>
                                            @Html.TextAreaFor(x => x.comments, new { @class = "form-control", placeholder = "Comments " })

                                        </div>

                                    </div>

                                </div>

                                <div class="col-sm-3">

                                    <input type="submit" value="Save" class="btn btn-primary btn-lg m-l-15 waves-effect" />


                                </div>


                            </div>
                        </div>
                        <div class="card">
                            <div class="header">
                                <h2>Truck Mapping List
                                </h2>
                            </div>
                            <div class="body">
                              
                                <div class="row clearfix">
                                    <table class="table table-bordered table-striped table-hover js-basic-example dataTable " style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Truck No</th>
                                                <th>Truck RFID</th>
                                                <th>Comment</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        }
    </div>
</section>
<script src="~/Scripts/jquery-1.12.3.min.js"></script>
<script src="~/Content/Theams/plugins/jquery-datatable/jquery.dataTables.js"></script>
<link href="~/Content/Theams/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet" />
<link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
<script type="text/javascript">
    if ('@ViewBag.alert' != '') {

        alert('@ViewBag.alert');
    }

    $('.js-basic-example').DataTable({
        "processing": true, // for show progress bar
        "serverSide": true, // for process server side
        "filter": true, // this is for disable filter (search box)
        "orderMulti": false, // for disable multiple column at once
        "ajax": {
            "url": "/mapping/truckMappingList",
            "type": "POST",
            "datatype": "json"
        },
        "columns": [
                { "data": "pkid", "name": "pkid", "orderable": false, "autoWidth": true },
                 { "data": "truckNo", "name": "truckNo", "orderable": false, "autoWidth": true },
                  { "data": "truckRFID", "name": "truckRFID", "orderable": false, "autoWidth": true },
                   { "data": "comments", "name": "comments", "orderable": false, "autoWidth": true },
               {
             "data": "pkid", "orderable": false, "render": function (data, type, full, meta) {
                 return '<a href=/mapping/truckMapping?_id=' + data + '>Edit</a>';
             }
         }

        ],
        "fnRowCallback": function (nRow, aData, iDisplayIndex) {
            $("td:first", nRow).html(iDisplayIndex + 1);
            return nRow;
        }
    })


</script>
<style type="text/css">
    .dropdown-toggle {
        display: none;
    }
</style>
